*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-image: url('./images/nubes_gif.gif' );
  background-repeat: no-repeat;
  background-size:cover;
}
.contents{
  height: 600px;
  background-image: url("./images/PAISAJE_gif.gif"  );
  background-repeat: no-repeat;
  align-content: center;
  margin-top: 70px;
  margin-left: 210px;
}
h1{
  /* display: flex;
  background: linear-gradient(yellow, blue);
 -webkit-background-clip: text;
 color: transparent; 
 -webkit-text-stroke: 1px black;
 margin-left:40px;   */
  margin: 10px; 
  top: 3%;
  left: 3%;
  transform: translate(-1PX, -1PX);
  font-size:40px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						4px 4px yellow,
						8px 8px red;
}
ul{
  display: block;
  list-style: none;
  border-radius: 10px;
  box-shadow: 20px -15px 10px green;
  justify-content: space-between;
  margin-right: 190px;
}
li{
  font-size: 180%;
  margin-left: 500px;
  padding-top: 20px;
  background: linear-gradient(green, red);
 -webkit-background-clip: text;
 color: transparent; 
 -webkit-text-stroke: 1px black;
 margin-top: -10px;
}
.contents b{
  background: linear-gradient(red, orange);
 -webkit-background-clip: text;
 color: transparent; 
 -webkit-text-stroke: 1px black;
}
.Button{
  display: flex;
 font-size: 30px;
 font-weight: bolder;
 border-radius: 10px;
 padding: 5px;
 margin-left: 720px;
 margin-top: -110px;
 background: linear-gradient(yellow, orange);
 -webkit-background-clip: text;
 color: transparent; 
 -webkit-text-stroke: 1px black;
}



@media (prefers-reduced-motion: no-preference) {
 
}
